asgiref
contourpy
cycler
Django
fonttools
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
six
sqlparse
tzdata

gunicorn
whitenoise
psycopg[binary]
dj-database-url
qrcode
